:root {
  --header-height: 470px;
  --main-body-height: 0px;
  --main-body-padding-top: 0px;
}

.rcw-header {
  background: linear-gradient(124.19deg, #2E408D 0%, #79C6E9 100%);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);

  padding: 15px 19px 17px 19px !important;
  height: var(--header-height);
}

.rcw-conversation-container .avatar {
  border-radius: 0 !important;
  width: 50px !important;
  height: 50px !important;
}

.rcw-title {
  display: flex;
  padding: 0px !important;

  height: 100%;
}

.rcw-messages-container{
  height:var(--main-body-height) !important ;
  padding-top: var(--main-body-padding-top) !important;
}

.rcw-messages-container::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}
.rcw-messages-container::-webkit-scrollbar-track {
  border-radius: 6px;
  background: transparent;
}
.rcw-messages-container::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #cecece;
}

.rcw-message {
  margin: 20px !important;
}

.rcw-response,
.rcw-client {
  flex-direction: row !important;
  justify-content: space-between;
  width: 100%;
}

.rcw-client {
  color: #ffffff;
  margin-left: 0px;
}

.rcw-client .rcw-message-text {
  background-color: #79c6e9 !important;
}

.rcw-client .rcw-timestamp {
  align-self: center !important;
}

.rcw-response .rcw-message-text {
  background-color: #d8d9db !important;
}

.rcw-timestamp {
  align-self: center;

  color: #1d2629;

  font-weight: 500;
  font-size: 14px !important;
  line-height: 14px;

  margin-top: 0px !important;

  opacity: 0.5;
}

.rcw-message-text {
  padding: 10px 13px !important;
}

.rcw-message-text p {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.282353px;
}

.rcw-sender {
  background-color: #ffffff !important;
  border-top: 0.5px solid #cecece;
}

.rcw-new-message {
  background-color: #ffffff !important;
  font-size: 16px;
  line-height: 19px;
}

input.rcw-new-message::placeholder {
  color: #1d2629;

  font-size: 16px;
  line-height: 19px;

  opacity: 0.5;
}

.rcw-send {
  background: #ffffff !important;
  outline: none;
}

.rcw-send img {
  content: url("assets/sendIcon.svg");
}

.quick-button {
  border: 1px solid #619ccc !important;
  border-radius: 10px !important;

  color: #619ccc;
  font-weight: 300 !important;
  font-size: 16px;
  letter-spacing: 0.282353px;

  padding: 10px 20px !important;
}

.quick-button:active {
  background: #619ccc !important;
}
